<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeSoPedia</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="flex flex-row">
        <h1 class="text-2xl flex ml-4 mt-6 items-center">DeSoPedia</h1>
    </header>
    <main>
       
    </main>
    <script src="../static/js/main.js"></script>
</body>
</html>